In [2]:
import numpy as np
import pandas as pd

### 1- Peut-on mener une ACP sur ce tableau de données ?

Oui nous pouvons mener une ACP sur ce tableau de données car nous avons plus que trois 
dimensions

### 2) Quel est le traitement préalable qu’on devrait effectuer sur ces données ? Expliquer pourquoi et faire ce traitement sur EXCEL.

Nous devons centrer les données pour eliminer les biais statistique due à l'effet unité

In [41]:
df1 = pd.read_csv("acp.csv")

In [42]:
df1

    Indiviuds  X1 Cinéma  X2 Tv  X3 Concert
0         1.0          6     30           2
1         2.0         10     20           3
2         3.0         40      2           6
3         4.0          5     30           1
4         5.0         12      3           3
5         6.0          5      4           6
6         7.0         24      2           5
7         8.0          3     10           2
8         9.0         10      4           3
9        10.0          4     40           1
10       11.0         30     20           6
11       12.0         18     27           5
12       13.0         45      3           6
13       14.0         40     15           3
14       15.0          4     25           1

In [43]:
df1.iloc[:,1] = (df1.iloc[:,1] - df1.iloc[:,1].mean())/df1.iloc[:,1].std() 
df1.iloc[:,2] = (df1.iloc[:,2] - df1.iloc[:,2].mean())/df1.iloc[:,2].std() 
df1.iloc[:,3] = (df1.iloc[:,3] - df1.iloc[:,3].mean())/df1.iloc[:,3].std()

In [45]:
X = df1.iloc[:, 1:]
X

    X1 Cinéma     X2 Tv  X3 Concert
0   -0.740494  1.129291   -0.782670
1   -0.472846  0.341414   -0.272233
2    1.534518 -1.076766    1.259078
3   -0.807406  1.129291   -1.293107
4   -0.339021 -0.997978   -0.272233
5   -0.807406 -0.919190    1.259078
6    0.463924 -1.076766    0.748641
7   -0.941230 -0.446464   -0.782670
8   -0.472846 -0.919190   -0.272233
9   -0.874318  1.917168   -1.293107
10   0.865397  0.341414    1.259078
11   0.062451  0.892928    0.748641
12   1.869078 -0.997978    1.259078
13   1.534518 -0.052525   -0.272233
14  -0.874318  0.735352   -1.293107

In [63]:
matrice_correlation = X.corr()

In [64]:
matrice_correlation

            X1 Cinéma     X2 Tv  X3 Concert
X1 Cinéma    1.000000 -0.431413     0.66471
X2 Tv       -0.431413  1.000000    -0.60420
X3 Concert   0.664710 -0.604200     1.00000

In [65]:
valeur_propre, vecteur = np.linalg.eig(matrice_correlation)

In [66]:
valeur_propre

array([2.13897299, 0.57218231, 0.2888447 ])

In [67]:
vecteur

array([[-0.56708546,  0.64034457, -0.51804721],
       [ 0.54322948,  0.76354396,  0.34914518],
       [-0.61912504,  0.08342336,  0.78084873]])

In [71]:
X.iloc[:, 0]*vecteur[0]

ValueError: operands could not be broadcast together with shapes (15,) (3,)